// Variables
$primary-bg-color: #002855;
$secondary-bg-color: #003f88;
$text-color: white;
$font-family: 'Arial', sans-serif;
$navbar-padding: 20px;
$gap-size: 20px;
$hover-color: #00aced;

// Mixin pour Flexbox Centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global style to prevent content overflow
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevents horizontal scroll */
}

// Styles globaux
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: $primary-bg-color; /* Fond bleu foncé */
  color: $text-color;
  min-height: 100vh; /* Assure que la hauteur couvre tout l'écran */
  @include flex-center;
  justify-content: center; /* Place le contenu en haut */
  width: 100vw;
  align-items: center;

  .page-content {
    width: 100vw; /* Prend toute la largeur de la vue */
    max-width: 100vw; /* S'assure que rien ne dépasse */
    padding: 0;
    margin: 0;
  }

  .navbar {
    position: relative;
    z-index: 10; /* Assure que la navbar reste visible au-dessus d'autres éléments */
    width: 100%; /* La navbar prend toute la largeur */
    @include flex-center; /* Centre les boutons horizontalement */
    padding: $navbar-padding;
    background-color: $secondary-bg-color; /* Couleur légèrement plus claire pour la barre de navigation */
    margin-bottom: $navbar-padding;

    .nav-list {
      list-style: none;
      display: flex;
      gap: $gap-size;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
      }

      button {
        background: none;
        border: none;
        color: $text-color;
        font-weight: bold;
        font-size: 2.2em;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: $hover-color; /* Change de couleur au survol */
        }
      }
    }
  }
}
