// Variables
$text-color: white;
$font-family: 'Arial', sans-serif;
$navbar-padding: 20px;
$gap-size: 20px;
$hover-color: #00aced;

// Mixin pour Flexbox Centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global style to prevent content overflow
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

// Styles globaux
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: $primary-bg-color;
  color: $text-color;
  min-height: 100vh;
  @include flex-center;
  justify-content: center;
  width: 100vw;
  align-items: center;

  .page-content {
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
  }

  .navbar {
    position: relative;
    z-index: 10;
    width: 100%;
    @include flex-center;
    padding: $navbar-padding;
    background-color: $secondary-bg-color;
    margin-bottom: $navbar-padding;

    .nav-list {
      list-style: none;
      display: flex;
      gap: $gap-size;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
      }

      button {
        background: none;
        border: none;
        color: $text-color;
        font-weight: bold;
        font-size: 2.2em;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
