@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
$primary-color: #284E7B;
$secondary-color: #f9bc60;
$text-color: white;
$padding-large: 2vw;
$padding-small: 1vw;

// Mixin for Flex Centering
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-container {
    @include flex-center;
    flex-direction: row;
    width: 100%;
    height: 11vw; // Hauteur de base proportionnelle
    background-color: $primary-color;
    color: $text-color;
    flex-wrap: nowrap;
    overflow: hidden;
    background-image: url(../../../assets/map.png);
    background-size: cover;
    background-position: center;

    background-color: rgba(40, 78, 123, 0.5);
    /* Couleur bleue avec une opacité de 50% */
    background-blend-mode: overlay;
    /* Mélange la couleur avec l'image d'arrière-plan */    }

    
    .banner-image {
        width: 80%;
        height: auto;
        transform: translateY(8vw); // Position verticale proportionnelle à la taille de l'écran
        border-top-left-radius: 50%;
    }
    
    .banner-section {
        @include flex-center;
        flex-direction: column;
        width: 33.33%; // Chaque section occupe un tiers de la largeur du conteneur
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        
        h1 {
            position: relative;
            z-index: 2;
            padding: 1rem;
            font-family: "Lobster", cursive;
            font-size: 4vw; // Taille du texte proportionnelle
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        
        h2 {
            font-size: 4vw;
            font-family: "Lobster", cursive;
        }
        
        button {
            padding: $padding-small;
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            cursor: pointer;
            font-size: 1.8vw;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }
    
    // Section-specific styles
    .section-one {
        background-image: url(../../../assets/baniere_flag.png);
        background-size: cover;
        background-position: center;
        border-right: 10px solid #cacaca;
        //border-top-right-radius: 2%;
        
        background-color: rgba(40, 78, 123, 0.5);
        /* Couleur bleue avec une opacité de 50% */
        background-blend-mode: overlay;
        /* Mélange la couleur avec l'image d'arrière-plan */
    }
    
//     .section-two {
//     }
//     .section-three {
//         background-color: #7AAED2;
// }

// Media Queries for responsive design

// Pour les écrans moyens (tablettes, petits laptops)
@media (max-width: 1024px) {


    .banner-section {
        width: 50%; // Deux sections par ligne sur tablette

        h1 {
            font-size: 3.5vw; // Taille de police proportionnelle
        }

        h2 {
            font-size: 3vw;
        }

        button {
            font-size: 2.8vw;
        }
    }

    .banner-image {
        transform: translateY(9vw); // Position verticale proportionnelle
    }
}

// Pour les petits écrans (smartphones)
@media (max-width: 768px) {
    .banner-container {
        height: 11vw; // Ajuste la hauteur pour les petits écrans
    }

    .banner-section {
        width: 100%; // Une section par ligne

        h1 {
            font-size: 4vw;
        }

        h2 {
            font-size: 3.5vw;
        }

        button {
            font-size: 3.2vw;
        }
    }

    .banner-image {
        transform: translateY(9vw); // Ajuste la position de l'image
    }
}

// Pour les très petits écrans
@media (max-width: 480px) {
    .banner-container {
        height: 11vw; // Hauteur ajustée pour les très petits écrans
    }

    .banner-section {
        h1 {
            font-size: 4.5vw;
        }

        h2 {
            font-size: 4vw;
        }

        button {
            font-size: 3.8vw;
        }
    }

    .banner-image {
        transform: translateY(9vw); // Ajuste la position verticale pour les plus petits écrans
    }
}