$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color: #659abd;
$input-border-color: #cccccc;
$input-focus-color: $primary-color;
$button-color: #00a8ff;
$button-hover-color: #007bff;
$font-family: "Arial", sans-serif;
$padding-small: 20px;

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $background-color;

  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 20px;
    gap: 30px;

    video {
      width: 100%;
      max-width: 800px;
      height: auto;
      margin: auto;
    }

    h2 {
      font-size: 2em;
      font-family: "Lobster", cursive;
      margin-bottom: 20px;
    }

    .image-section {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 10px;
    }

    .info-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;

      // Container pour info-item en flex
      .info-item-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 15px;
        gap: 10px;

        .info-item {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          .info-title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .info-description {
            font-size: 1.5em;
            color: white;
          }
        }

        .image-container {
          background-color: #284e7b; // Couleur de fond autour de l'image
          border-radius: 50%; // Rend le fond circulaire
          padding: 5px; // Ajoute de l'espace autour de l'image
          display: flex;
          width: 40px; // Largeur fixe égale à la hauteur pour un cercle parfait
          height: 40px; // Hauteur fixe égale à la largeur
          justify-content: center;
          align-items: center;

          .img2 {
            display: flex;
            transform-origin: center; // Centre l'agrandissement pour ne pas la déplacer
            max-width: 80%; // Ajuste la largeur de l'image
            height: auto;
            border-radius: 0%;
          }
        }
      }
    }
  }

  textarea {
    resize: none;
    height: 150px;
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      font-family: "Lobster", cursive;
      color: white;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      padding: 20px;
      background-color: #284e7b; // Fond blanc pour le formulaire
      border-radius: 10px; // Bordures arrondies pour le formulaire
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Ajout d'une ombre douce pour un effet en relief

      label {
        font-size: 1.2em;
        margin-bottom: 5px;
        color: white; // Couleur des labels
        cursor: auto;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #0056b3; // Bordure bleue pour les champs
        border-radius: 5px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); // Légère ombre pour les champs

        &:focus {
          border-color: #007bff; // Couleur de la bordure en surbrillance
          box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); // Effet lumineux au focus
          outline: none;
        }
      }

      button {
        background-color: #f9bc60;
        color: #001e1d;
        border: none;
        padding: 15px 30px;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 10px;
        transition: background-color 0.3s;
        margin-top: $padding-small;

        &:hover {
          background-color: rgb(230, 165, 67);
        }
      }
    }
  }
}

@media (max-width:480px) {
  .image-container {
    height: auto !important;
    width: 10vw !important;
  }

  .contact-right {
    width: 100vw !important;
  }

  .contact-form {
    max-width: 100% !important;
  }
}
